.counter-container{
    border: 1px solid white;
    background-color: rgb(116, 119, 122);
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border-radius: 20px;
}