.container{
    background-color: rgb(242, 238, 231);
    padding: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 1.5rem;
    align-items: center;
    margin: 1rem;
}

#user-img{
    height: 50%;
    border-radius: 50%;
}